BreakBeforeBraces: Attach
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
SortIncludes: false
ColumnLimit: 0
AllowShortBlocksOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
DerivePointerAlignment: true
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: No
AccessModifierOffset: -4
SpaceAfterTemplateKeyword: false
AllowShortEnumsOnASingleLine: true
